<h2 class="p-4">Caballeros del zodiaco</h2>
<div class="container">
    <div class="card-columns">
        
        <app-caballeros [caballero]="caballero"></app-caballeros>
        
    </div>
    <div class="row">
        <div class="col-6">
            <button (click)="borrarCaballero()" class="btn btn-outline-danger">Borrar caballero</button>
        </div>
        <div class="col-6">
            <button (click)="restaurarCaballero()" class="btn btn-outline-success">Restaurar caballero</button>
        </div>
    </div>
    
    <div class="row mt-5">
        <app-formulario [caballero]="caballero" [caballeroBorrado]="caballeroBorrado" [agregarCaballero]="agregarCaballero" [caballeroNuevo]="caballeroNuevo" [borrarCaballero]="borrarCaballero" class="col-6"></app-formulario>
    </div>
    

</div>
